.ajoute-formation{
    margin: 40px  auto;
    width: 60%;
}
.ajoute-formation .titre{
    background-color: #FFF;
    padding: 20px;
    margin-bottom: 10px;
}
.ajoute-formation .form-formation{
    background-color: #FFF;
    padding: 20px;
}
 
.ajoute-formation .form-formation form{
    background-color: #FFF;
    padding: 20px;
}
 
 